spring:
  application:
    name: spots
  config:
    import:
      - application-secret.yml

  # JPA Config
  jpa:
    show-sql: true
    database: postgresql
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  # Spring AI Config
  ai:
    openai:
      api-key: ${OPENAI.API-KEY}
      chat:
        options:
          model: gpt-4o
          temperature: 1.0

  # Async Config
  mvc:
    async:
      request-timeout: 150000 # 2m 30s

server:
  forward-headers-strategy: framework