spring:
  application:
    name: spots
  config:
    import:
      - application-secret.yml

  # JPA Config
  jpa:
    show-sql: true
    database: postgresql
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  ai:
    openai:
      api-key: ${OPENAI.API-KEY}
      chat:
        options:
          model: gpt-4o

server:
  forward-headers-strategy: framework