spring:
  application:
    name: spots
  config:
    import:
      - application-secret.yml

  # JPA Config
  jpa:
    show-sql: true
    database: postgresql
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  forward-headers-strategy: framework