spring:
  application:
    name: spots
  config:
    import:
      - application-secret.yml

  # JPA Config
  jpa:
    show-sql: true
    database: postgresql
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  # Spring AI Config
  ai:
    openai:
      api-key: ${OPENAI.API-KEY}
      chat:
        options:
          model: gpt-4o
          temperature: 1.0

  # Async Config
  mvc:
    async:
      request-timeout: 150000 # 2m 30s

# prometheus & actuator
management:
  endpoints:
    shutdown:
      enabled: false
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    tags:
      application: fitfinder-api
    distribution:
      percentiles-histogram:
        http.server.requests: true
  prometheus:
    metrics:
      export:
        enabled: true

server:
  forward-headers-strategy: framework
  # Tomcat Metric Setting
  tomcat:
    mbeanregistry:
      enabled: true