spring:
  application:
    name: spots
  config:
    import:
      - application-secret.yml

  # DB Config
  datasource:
    driver-class-name: ${DB.PROD.DRIVER-CLASS-NAME}
    url: ${DB.PROD.URL}
    username: ${DB.PROD.USERNAME}
    password: ${DB.PROD.PASSWORD}

  # JPA Config
  jpa:
    show-sql: true
    database: postgresql
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

front:
  server: ${FRONT.SERVER.URL}

back:
  server:
    local: ${BACK.SERVER.LOCAL.URL}
    prod: ${BACK.SERVER.PROD.URL}
    api: ${BACK.SERVER.API.URL}
